<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.system.mapper.InspectionTaskInfoMapper">
    
    <resultMap type="InspectionTaskInfo" id="InspectionTaskInfoResult">
        <result property="id"    column="id"    />
        <result property="unionId"    column="union_id"    />
        <result property="unionName"    column="union_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="taskType"    column="task_type"    />
        <result property="taskUserId"    column="task_user_id"    />
        <result property="taskUserName"    column="task_user_name"    />
        <result property="taskAddress"    column="task_address"    />
        <result property="attachmentOne"    column="attachment_one"    />
        <result property="attachmentTwo"    column="attachment_two"    />
        <result property="troubleFlag"    column="trouble_flag"    />
        <result property="recordInfo"    column="record_info"    />
        <result property="troubleInfo"    column="trouble_info"    />
        <result property="remark"    column="remark"    />
        <result property="recordTime"    column="record_time"    />
    </resultMap>

    <sql id="selectInspectionTaskInfoVo">
        select id, union_id, union_name, dept_id, dept_name, task_type, task_user_id, task_user_name, task_address, attachment_one, attachment_two, trouble_flag, record_info, trouble_info, remark, record_time from inspection_task_info
    </sql>

    <select id="selectInspectionTaskInfoList" parameterType="InspectionTaskInfo" resultMap="InspectionTaskInfoResult">
        <include refid="selectInspectionTaskInfoVo"/>
        <where>  
            <if test="unionId != null "> and union_id = #{unionId}</if>
            <if test="unionName != null  and unionName != ''"> and union_name like concat('%', #{unionName}, '%')</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="taskType != null "> and task_type = #{taskType}</if>
            <if test="taskUserId != null "> and task_user_id = #{taskUserId}</if>
            <if test="taskUserName != null  and taskUserName != ''"> and task_user_name like concat('%', #{taskUserName}, '%')</if>
            <if test="taskAddress != null  and taskAddress != ''"> and task_address = #{taskAddress}</if>
            <if test="attachmentOne != null  and attachmentOne != ''"> and attachment_one = #{attachmentOne}</if>
            <if test="attachmentTwo != null  and attachmentTwo != ''"> and attachment_two = #{attachmentTwo}</if>
            <if test="troubleFlag != null  and troubleFlag != ''"> and trouble_flag = #{troubleFlag}</if>
            <if test="recordInfo != null  and recordInfo != ''"> and record_info = #{recordInfo}</if>
            <if test="troubleInfo != null  and troubleInfo != ''"> and trouble_info = #{troubleInfo}</if>
            <if test="recordTime != null "> and record_time = #{recordTime}</if>
        </where>
    </select>
    
    <select id="selectInspectionTaskInfoById" parameterType="Long" resultMap="InspectionTaskInfoResult">
        <include refid="selectInspectionTaskInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInspectionTaskInfo" parameterType="InspectionTaskInfo" useGeneratedKeys="true" keyProperty="id">
        insert into inspection_task_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unionId != null">union_id,</if>
            <if test="unionName != null">union_name,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="taskType != null">task_type,</if>
            <if test="taskUserId != null">task_user_id,</if>
            <if test="taskUserName != null">task_user_name,</if>
            <if test="taskAddress != null">task_address,</if>
            <if test="attachmentOne != null">attachment_one,</if>
            <if test="attachmentTwo != null">attachment_two,</if>
            <if test="troubleFlag != null">trouble_flag,</if>
            <if test="recordInfo != null">record_info,</if>
            <if test="troubleInfo != null">trouble_info,</if>
            <if test="remark != null">remark,</if>
            <if test="recordTime != null">record_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="unionId != null">#{unionId},</if>
            <if test="unionName != null">#{unionName},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="taskType != null">#{taskType},</if>
            <if test="taskUserId != null">#{taskUserId},</if>
            <if test="taskUserName != null">#{taskUserName},</if>
            <if test="taskAddress != null">#{taskAddress},</if>
            <if test="attachmentOne != null">#{attachmentOne},</if>
            <if test="attachmentTwo != null">#{attachmentTwo},</if>
            <if test="troubleFlag != null">#{troubleFlag},</if>
            <if test="recordInfo != null">#{recordInfo},</if>
            <if test="troubleInfo != null">#{troubleInfo},</if>
            <if test="remark != null">#{remark},</if>
            <if test="recordTime != null">#{recordTime},</if>
         </trim>
    </insert>

    <update id="updateInspectionTaskInfo" parameterType="InspectionTaskInfo">
        update inspection_task_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="unionId != null">union_id = #{unionId},</if>
            <if test="unionName != null">union_name = #{unionName},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="taskType != null">task_type = #{taskType},</if>
            <if test="taskUserId != null">task_user_id = #{taskUserId},</if>
            <if test="taskUserName != null">task_user_name = #{taskUserName},</if>
            <if test="taskAddress != null">task_address = #{taskAddress},</if>
            <if test="attachmentOne != null">attachment_one = #{attachmentOne},</if>
            <if test="attachmentTwo != null">attachment_two = #{attachmentTwo},</if>
            <if test="troubleFlag != null">trouble_flag = #{troubleFlag},</if>
            <if test="recordInfo != null">record_info = #{recordInfo},</if>
            <if test="troubleInfo != null">trouble_info = #{troubleInfo},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInspectionTaskInfoById" parameterType="Long">
        delete from inspection_task_info where id = #{id}
    </delete>

    <delete id="deleteInspectionTaskInfoByIds" parameterType="String">
        delete from inspection_task_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>