<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.system.mapper.ContactPeopleCountMapper">
    
    <resultMap type="ContactPeopleCount" id="ContactPeopleCountResult">
        <result property="id"    column="id"    />
        <result property="recordDate"    column="record_date"    />
        <result property="countyId"    column="county_id"    />
        <result property="countyName"    column="county_name"    />
        <result property="contactNumber"    column="contact_number"    />
    </resultMap>

    <resultMap type="CountyContactVo" id="CountyContactVoResult">
        <result property="countyId"  column="county_id"/>
        <result property="total"  column="total"/>
    </resultMap>

    <select id="selectCountyContactByDate" parameterType="String" resultMap="CountyContactVoResult">
        select county_name as county_id, ifnull(sum(contact_number),0) as total  from contact_people_count
        <where>
            record_date like concat(#{currYear}, '%')
        </where>
        GROUP BY county_name ORDER BY county_name
    </select>

    <sql id="selectContactPeopleCountVo">
        select id, record_date, county_id, county_name, contact_number from contact_people_count
    </sql>

    <select id="selectPeopleCountByDate" parameterType="String" resultType="java.lang.Integer">
        select ifnull(sum(contact_number),0)  as `total` from contact_people_count
        <where>
            record_date like concat(#{currYear}, '%')
        </where>
    </select>

    <select id="selectContactPeopleCountList" parameterType="ContactPeopleCount" resultMap="ContactPeopleCountResult">
        <include refid="selectContactPeopleCountVo"/>
        <where>  
            <if test="recordDate != null "> and record_date = #{recordDate}</if>
            <if test="countyName != null  and countyName != ''"> and county_name = #{countyName}</if>
        </where>
    </select>
    
    <select id="selectContactPeopleCountById" parameterType="String" resultMap="ContactPeopleCountResult">
        <include refid="selectContactPeopleCountVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertContactPeopleCount" parameterType="ContactPeopleCount">
        insert into contact_people_count
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="recordDate != null">record_date,</if>
            <if test="countyId != null">county_id,</if>
            <if test="countyName != null">county_name,</if>
            <if test="contactNumber != null">contact_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="recordDate != null">#{recordDate},</if>
            <if test="countyId != null">#{countyId},</if>
            <if test="countyName != null">#{countyName},</if>
            <if test="contactNumber != null">#{contactNumber},</if>
         </trim>
    </insert>

    <update id="updateContactPeopleCount" parameterType="ContactPeopleCount">
        update contact_people_count
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordDate != null">record_date = #{recordDate},</if>
            <if test="countyId != null">county_id = #{countyId},</if>
            <if test="countyName != null">county_name = #{countyName},</if>
            <if test="contactNumber != null">contact_number = #{contactNumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContactPeopleCountById" parameterType="String">
        delete from contact_people_count where id = #{id}
    </delete>

    <delete id="deleteContactPeopleCountByIds" parameterType="String">
        delete from contact_people_count where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>